:root {
  --dark: #040d12;
  --light-dark: #131d22;
  --pure-light: #f0f0f0;
  --light: #e0e2db;
  --dark-green: #183d3d;
  --green: #5c8374;
  --light-green: #93b1a6;
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-title;
  src: url(/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-bold;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 110px 0 110px;
}

html {
  font-size: 16px;
}

/* body:has(dialog[open]) {
  overflow-y: hidden;
} */
p {
  margin: 0;
}

/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/
/* dark mode */

body.dark {
  background-color: #292c35;
  color: rgb(216, 204, 204);
}

.closest.dark.closest {
  background-color: #217027;
}

body.dark h1,
body.dark .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* *********** */

/* navaagtio css */
/* ****************** */
header {
  margin: 0;
  background-color: #262626;
  position: fixed;
  top: 0;
  /*   left: 0; */
  width: calc(100% - 220px);
  z-index: 1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.burgermenu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.logo-img {
  height: 90px;
  width: auto;
}

/* carusel content */
.caruselContainer {
  padding: 0rem;
}

.slider-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 3rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 0.15s;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a:target {
  opacity: 1;
}

/* content css */
/* ************* */
main {
  margin-top: 70px;
}

.custom-hotdog-container {
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;
}

.sampyla-container,
.makkara-container,
.täyte-container,
.kastike-container {
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
}

.total-box {
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

input {
  width: 2rem;
  height: 2rem;
  accent-color: var(--green);
}

.productImg {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.menu-filter-title,
.custom-menu-title,
.drink-filter-title,
.contact-filter-title {
  text-align: center;
  font-family: defaultBold, sans-serif;
  color: var(--green);
  margin: 20px 0;
}

.menu-container,
.drink-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 0px;
}

.menu-item-container,
.drink-item-container {
  background-color: #f0f0f0;
  padding: 20px;
  border: 3px solid var(--light-green);
  border-radius: 20px;
  text-align: center;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

.menu-food-image .drink-image {
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}

.menu-food-title,
.drink-title {
  font-family: defaultBold, sans-serif;
  color: var(--light-green);
  margin-bottom: 10px;
}

.menu-ingredients {
  color: var(--light);
  margin-bottom: 20px;
  font-size: 0.9em;
}

.menu-price,
.drink-price {
  color: var(--light);
  margin-bottom: 20px;
  font-size: 0.9em;
}

.menu-ingredients span {
  font-weight: bold;
  color: var(--light-green);
}

.add-to-cart-btn {
  background-color: var(--green);
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0;
  color: var(--light);
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}

/* Admin */
.admin-section {
  margin: 100px 10px;
}
.user-management-nav {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.user-manage-nav-btn {
  color: white;
  background-color: var(--dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 0.8rem;
  height: 70%;
  transition: ease 0.5s;
}
.user-manage-nav-btn:hover {
  height: 90%;
  background-color: #303030;
}
.user-manage-active:hover {
  height: 100%;
  background-color: var(--light-green);
}
.user-manage-active {
  background-color: var(--light-green);
  height: 100%;
}
.admin-section table {
  border-collapse: collapse;
  width: 100%;
}
.sticky-row {
  position: sticky;
  z-index: 0;
  top: 0px;
  background-color: white;
  border: 1px black solid;
}
.user-management-table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px black solid;
}

.admin-section th,
.admin-section td {
  padding: 10px;
  text-align: left;
}
.admin-section tr {
  background-color: var(--pure-light);
}
.admin-section tr:nth-child(2n) {
  background-color: var(--light-green);
}

.admin-section tr:hover {
  background-color: var(--green);
  color: var(--pure-light);
}

.admin-orders-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
x .orders-con .orders-nav h2 {
  font-family: poppins-title, sans-serif;
}
.orders-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}
.order-info-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
  transform: scale(1);
}
.orders-container {
  max-height: 400px;
  overflow-y: auto;
  border: #111 1px solid;
}

.order-info-button:hover {
  transform: scale(1.1);
}
.order-info-button i {
  padding: 0 10px;
  font-size: 1.25em;
}
.order-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.order-info-btn-orders {
  background-color: black;
}
.order-info-btn-in-progress {
  background-color: rebeccapurple;
}
.order-info-btn-completed {
  background-color: rgb(0, 160, 0);
}
.order-info-btn-recieved {
  background-color: #3498db;
}
.status-container {
  text-align: center;
  background-color: #c0c0c0;
  color: #424242;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
}
.status-container-recieved {
  background-color: #77bbe9;
  color: #124e75;
}
.status-container-in-progress {
  background-color: rgb(164, 136, 194);
  color: rgb(55, 27, 83);
}
.status-container-completed {
  background-color: rgb(124, 212, 124);
  color: rgb(0, 75, 0);
}
.actions-container {
  display: flex;
  justify-content: space-around;
}
.action-btn {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s ease;
}
.action-btn:hover {
  transform: scale(1.2);
}
/* ************* */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
}

.footeri {
  height: 50px;
  color: white;
  text-align: center;
}

.footeri p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 14px;
}

/* dialog css */
/* ************* */

dialog {
  width: 90%;
  position: fixed;
  padding: 1.5em;
  margin: auto;
  z-index: 2;
  background-color: var(--pure-light);
  border-radius: 20px;
  text-align: center;
  outline: none;
  max-width: 900px;
}
dialog::backdrop {
  backdrop-filter: blur(2px);
}
dialog:has(#authForm) {
  max-width: 400px;
}
.dialog-close-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-left: auto;
  background-color: var(--green);
  border: solid 2px var(--dark-green);
  border-radius: 5px;
}
.dialog-close-button:hover {
  background-color: var(--light-green);
  cursor: pointer;
}
.modal-input {
  align-self: flex-start;
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 40px;
  padding: 0 10px;
  font-size: 0.8rem;
  outline: none;
  border: 2px solid var(--dark-green);
  border-left: 5px solid var(--dark-green);
  transition: border-left 1s;
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}
.modal-input:valid {
  border-left-color: var(--light-green);
  /* background-color: var(--light-green); */
}
.modal-input:invalid {
  border-left-color: #d21900;
}
.buttons-container button {
  display: inline;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: var(--light-green);
  color: var(--light);
}
.buttons-container button:hover {
  cursor: pointer;
}
.modal-focus {
  border-color: var();
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  border: 2px grey solid;
  border-radius: 10px;
  margin-bottom: 40px;
}
.form-button {
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--pure-light);
  border-radius: 10px;
  border: solid 2px var(--dark-green);
  font-size: 1em;
  transform: scale(0.9);
  transition: 0.5s ease;
}
.form-button:hover {
  background-color: var(--light-green);
  transform: scale(1);
  cursor: pointer;
}
.form-button-a-container {
  width: 100%;
}
.form-button-a {
  margin: auto;
  font-size: 1rem;
  width: 50%;
  display: block;
  color: black;
  margin-top: 1rem;
  transition: 0.4s ease;
}
.form-button-a:hover {
  color: black;
  transform: scale(1.1);
}
.forms-top-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.forms-top-container button {
  margin-left: auto;
  margin-right: 0;
}

.slider-label {
  flex: 1;
  text-align: center;
  font-size: 0.9em;
}

.slider-checkbox {
  display: none;
}

.slider-label {
  cursor: pointer;
  padding: 10px 30px;
}
#login-label {
  background: rgb(92, 131, 116);
  background: linear-gradient(
    90deg,
    rgba(92, 131, 116, 1) 22%,
    rgba(147, 177, 166, 1) 69%
  );
  color: var(--pure-light);
}
#register-label {
  background-color: var(--light);
  background-color: var(--pure-light);
  color: var(--dark);
}
.slider-checkbox:checked ~ #login-label {
  background: var(--pure-light);
  background-color: var(--pure-light);
  color: var(--dark);
}
.slider-checkbox:checked ~ #register-label {
  background: rgb(92, 131, 116);
  background: linear-gradient(
    -90deg,
    rgba(92, 131, 116, 1) 22%,
    rgba(147, 177, 166, 1) 69%
  );
  color: var(--pure-light);
}
dialog:has(.confirm-modal-container) {
  max-width: 450px;
}
#confirmForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.forms-top-container h2 {
  font-size: 1.2em;
}
.forms-top-container strong {
  color: var(--green);
}
.form-button {
  outline: none;
}
.form-button-cancel {
  background-color: grey;
}
.form-button-cancel:hover {
  background-color: rgb(88, 88, 88);
}

#map {
  z-index: 0;
}

#contact {
  border: 3px solid var(--light-green);
  background-color: var(--dark);
  margin: 20px 0 20px 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 2rem;
}

.location-map {
  height: 100%;
  width: 50%;
  position: relative;
}

.about {
  height: 100%;
  width: 65%;
  color: var(--light);
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

#menu-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.custom-container {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.carousel-btn {
  display: inline-block;
  border-radius: 1rem;
  background-color: var(--green);
  border: none;
  color: var(--light);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  width: 6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 0.5rem;
}

.carousel-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* ***************** */

/* media css */
@media only screen and (min-width: 700px) {
  .location-container {
    padding: 50px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 930px) {
  body {
    margin: 0;
  }

  header {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .burgermenu {
    display: block;
  }

  .burgermenu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burgermenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burgermenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .location-map {
    width: 100%;
  }

  .about {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .menu-container,
  .drink-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .toppings-container,
  .sausage-container,
  .sauce-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .orders-info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
  }
  .order-filter-text {
    display: none;
  }
  .order-amount {
    font-size: 1.3rem;
  }
  .order-info-button {
    height: 75px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1100px) {
  .menu-container,
  .drink-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .bun-container,
  .toppings-container,
  .sausage-container,
  .sauce-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    gap: 10px;
  }
}
